USE [master]
GO
/****** Object:  Database [K235480106023_QuanLyCamDo]    Script Date: 12/05/2026 11:41:02 AM ******/
CREATE DATABASE [K235480106023_QuanLyCamDo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'K235480106023_QuanLyCamDo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\K235480106023_QuanLyCamDo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'K235480106023_QuanLyCamDo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\K235480106023_QuanLyCamDo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [K235480106023_QuanLyCamDo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [K235480106023_QuanLyCamDo]
GO
/****** Object:  UserDefinedTableType [dbo].[DanhSachTaiSanType]    Script Date: 12/05/2026 11:41:02 AM ******/
CREATE TYPE [dbo].[DanhSachTaiSanType] AS TABLE(
	[TenTaiSan] [nvarchar](200) NULL,
	[LoaiTaiSan] [nvarchar](100) NULL,
	[ThuongHieu] [nvarchar](100) NULL,
	[MoTa] [nvarchar](500) NULL,
	[SoSerial] [nvarchar](100) NULL,
	[TinhTrangTaiSan] [nvarchar](200) NULL,
	[GiaTriDinhGia] [decimal](18, 2) NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyContract]    Script Date: 12/05/2026 11:41:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_CalcMoneyContract]                                 -- Tạo function tính tổng nợ theo hợp đồng
(                                                                              -- Tham số
    @HopDongID INT,                                                           -- ID hợp đồng cần tính
    @TargetDate DATE                                                          -- Ngày tính đến
)
RETURNS DECIMAL(18,2)                                                        -- Trả về số tiền tổng nợ
AS
BEGIN
    -- Khai báo biến
    DECLARE @SoTienVayGoc DECIMAL(18,2);                                     -- Số tiền vay gốc ban đầu
    DECLARE @NgayCam DATE;                                                   -- Ngày cầm đồ
    DECLARE @Deadline1 DATE;                                                 -- Deadline 1
    DECLARE @LaiSuatDonNgay DECIMAL(18,6);                                   -- Lãi suất đơn ngày
    DECLARE @TongDaTra DECIMAL(18,2);                                        -- Tổng tiền đã trả
    DECLARE @GocConLai DECIMAL(18,2);                                        -- Gốc còn lại
    DECLARE @SoNgayLaiDon INT;                                               -- Số ngày tính lãi đơn
    DECLARE @LaiDon DECIMAL(18,2);                                           -- Lãi đơn tích lũy
    DECLARE @SoNgayLaiKep INT;                                               -- Số ngày tính lãi kép
    DECLARE @VonCoSo DECIMAL(18,2);                                          -- Vốn gốc + lãi đơn
    DECLARE @TongSauLaiKep DECIMAL(18,2);                                    -- Tổng sau lãi kép
    DECLARE @LaiKep DECIMAL(18,2);                                           -- Lãi kép
    DECLARE @TongNo DECIMAL(18,2);                                           -- Tổng nợ cuối cùng

    -- Lấy thông tin hợp đồng
    SELECT
        @SoTienVayGoc = SoTienVayGoc,
        @NgayCam = NgayCam,
        @Deadline1 = Deadline1,
        @LaiSuatDonNgay = LaiSuatDonNgay
    FROM HopDongCamDo
    WHERE HopDongID = @HopDongID;

    -- Nếu không tìm thấy hợp đồng thì trả về 0
    IF @SoTienVayGoc IS NULL
        RETURN 0;

    -- Tính tổng tiền đã trả đến ngày TargetDate
    SELECT @TongDaTra = ISNULL(SUM(SoTienTra), 0)
    FROM GiaoDichTraNo
    WHERE HopDongID = @HopDongID
      AND NgayGiaoDich <= @TargetDate;

    -- Tính gốc còn lại (không âm)
    SET @GocConLai = @SoTienVayGoc - @TongDaTra;
    IF @GocConLai < 0 SET @GocConLai = 0;

    -- Nếu TargetDate <= Deadline1: chỉ tính lãi đơn
    IF @TargetDate <= @Deadline1
    BEGIN
        SET @SoNgayLaiDon = DATEDIFF(DAY, @NgayCam, @TargetDate);           -- Số ngày từ ngày cầm đến TargetDate
        IF @SoNgayLaiDon < 0 SET @SoNgayLaiDon = 0;                        -- Nếu âm thì = 0

        SET @LaiDon = @GocConLai * @LaiSuatDonNgay * @SoNgayLaiDon;         -- Tính lãi đơn
        SET @TongNo = @GocConLai + @LaiDon;                                -- Tổng nợ = gốc + lãi đơn

        RETURN @TongNo;                                                     -- Trả kết quả
    END

    -- Trường hợp TargetDate > Deadline1: tính cả lãi đơn và lãi kép

    -- Tính lãi đơn từ ngày cầm đến Deadline1
    SET @SoNgayLaiDon = DATEDIFF(DAY, @NgayCam, @Deadline1);
    IF @SoNgayLaiDon < 0 SET @SoNgayLaiDon = 0;

    SET @LaiDon = @GocConLai * @LaiSuatDonNgay * @SoNgayLaiDon;

    -- Tính lãi kép từ Deadline1 đến TargetDate
    SET @SoNgayLaiKep = DATEDIFF(DAY, @Deadline1, @TargetDate);
    IF @SoNgayLaiKep < 0 SET @SoNgayLaiKep = 0;

    SET @VonCoSo = @GocConLai + @LaiDon;                                   -- Vốn gốc + lãi đơn tích lũy
    SET @TongSauLaiKep = @VonCoSo * POWER(1 + @LaiSuatDonNgay, @SoNgayLaiKep); -- Áp dụng công thức lãi kép
    SET @LaiKep = @TongSauLaiKep - @VonCoSo;                              -- Lãi kép = tổng sau - vốn ban đầu

    SET @TongNo = @GocConLai + @LaiDon + @LaiKep;                         -- Tổng nợ cuối

    RETURN @TongNo;                                                        -- Trả kết quả
END;

GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyTransaction]    Script Date: 12/05/2026 11:41:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_CalcMoneyTransaction]                             -- Tạo function tính nợ theo giao dịch
(                                                                              -- Tham số
    @GiaoDichID INT,                                                          -- ID giao dịch cần tra cứu
    @TargetDate DATE                                                          -- Ngày tính đến
)
RETURNS DECIMAL(18,2)                                                        -- Trả về tổng nợ của hợp đồng đó
AS
BEGIN
    DECLARE @HopDongID INT;                                                   -- Biến lưu ID hợp đồng
    DECLARE @TongNo DECIMAL(18,2);                                            -- Biến lưu kết quả

    -- Lấy HopDongID từ GiaoDichID
    SELECT @HopDongID = HopDongID
    FROM GiaoDichTraNo
    WHERE GiaoDichID = @GiaoDichID;

    -- Nếu không tìm thấy giao dịch thì trả về 0
    IF @HopDongID IS NULL
        RETURN 0;

    -- Gọi function fn_CalcMoneyContract để tính tổng nợ
    SET @TongNo = dbo.fn_CalcMoneyContract(@HopDongID, @TargetDate);

    RETURN @TongNo;                                                           -- Trả kết quả
END;

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/05/2026 11:41:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[KhachHangID] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](15) NOT NULL,
	[SoCCCD] [varchar](20) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[NgayTao] [datetime] NOT NULL,
	[TrangThaiHoatDong] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KhachHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDongCamDo]    Script Date: 12/05/2026 11:41:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDongCamDo](
	[HopDongID] [int] IDENTITY(1,1) NOT NULL,
	[KhachHangID] [int] NOT NULL,
	[MaHopDong] [varchar](30) NOT NULL,
	[NgayCam] [date] NOT NULL,
	[SoTienVayGoc] [decimal](18, 2) NOT NULL,
	[Deadline1] [date] NOT NULL,
	[Deadline2] [date] NOT NULL,
	[LaiSuatDonNgay] [decimal](18, 6) NOT NULL,
	[TrangThaiHopDong] [nvarchar](50) NOT NULL,
	[TongTienDaTra] [decimal](18, 2) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[HopDongID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_DanhSachNoXau]    Script Date: 12/05/2026 11:41:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_DanhSachNoXau]                                     -- Tạo view danh sách nợ xấu
AS
SELECT
    kh.HoTen AS TenKhachHang,                                             -- Họ tên khách hàng
    kh.SoDienThoai,                                                       -- Số điện thoại
    hd.SoTienVayGoc,                                                     -- Số tiền vay gốc
    DATEDIFF(DAY, hd.Deadline1, CAST(GETDATE() AS DATE)) AS SoNgayQuaHan, -- Số ngày quá hạn tính đến hôm nay
    dbo.fn_CalcMoneyContract(hd.HopDongID, CAST(GETDATE() AS DATE))      -- Tổng nợ hiện tại
        AS TongTienPhaiTraHienTai,
    dbo.fn_CalcMoneyContract(hd.HopDongID, DATEADD(MONTH, 1, CAST(GETDATE() AS DATE)))
        AS TongTienPhaiTraSau1Thang,                                      -- Tổng nợ sau 1 tháng
    hd.TrangThaiHopDong,                                                 -- Trạng thái hợp đồng
    hd.MaHopDong                                                         -- Mã hợp đồng
FROM HopDongCamDo hd
INNER JOIN KhachHang kh                                                   -- Kết nối bảng khách hàng
    ON hd.KhachHangID = kh.KhachHangID
WHERE CAST(GETDATE() AS DATE) > hd.Deadline1                              -- Đã quá Deadline1
  AND hd.TrangThaiHopDong NOT IN (N'DaThanhToan', N'DaThanhLy');          -- Chưa thanh toán đủ

GO
/****** Object:  Table [dbo].[ChiTietTaiSanCamCo]    Script Date: 12/05/2026 11:41:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietTaiSanCamCo](
	[ChiTietTaiSanID] [int] IDENTITY(1,1) NOT NULL,
	[HopDongID] [int] NOT NULL,
	[TaiSanID] [int] NOT NULL,
	[GiaTriDinhGia] [decimal](18, 2) NOT NULL,
	[NgayNhanCam] [date] NOT NULL,
	[TrangThaiTaiSan] [nvarchar](50) NOT NULL,
	[IsSanSangThanhLy] [bit] NOT NULL,
	[IsDaBanThanhLy] [bit] NOT NULL,
	[NgayTraTaiSan] [date] NULL,
	[NgayThanhLy] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ChiTietTaiSanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaoDichTraNo]    Script Date: 12/05/2026 11:41:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoDichTraNo](
	[GiaoDichID] [int] IDENTITY(1,1) NOT NULL,
	[HopDongID] [int] NOT NULL,
	[NgayGiaoDich] [date] NOT NULL,
	[SoTienTra] [decimal](18, 2) NOT NULL,
	[TienTraGoc] [decimal](18, 2) NOT NULL,
	[TienTraLai] [decimal](18, 2) NOT NULL,
	[NguoiThuTien] [nvarchar](100) NOT NULL,
	[NoiDungGiaoDich] [nvarchar](300) NULL,
	[SoTienNoConLaiSauGiaoDich] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[GiaoDichID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuGiaHan]    Script Date: 12/05/2026 11:41:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuGiaHan](
	[GiaHanID] [int] IDENTITY(1,1) NOT NULL,
	[HopDongID] [int] NOT NULL,
	[NgayGiaHan] [date] NOT NULL,
	[Deadline1Cu] [date] NOT NULL,
	[Deadline1Moi] [date] NOT NULL,
	[Deadline2Cu] [date] NOT NULL,
	[Deadline2Moi] [date] NOT NULL,
	[SoTienLaiDaDong] [decimal](18, 2) NOT NULL,
	[NguoiXuLy] [nvarchar](100) NOT NULL,
	[GhiChu] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[GiaHanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhatKyHeThong]    Script Date: 12/05/2026 11:41:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhatKyHeThong](
	[NhatKyID] [int] IDENTITY(1,1) NOT NULL,
	[TenBang] [nvarchar](100) NOT NULL,
	[KhoaChinhBanGhi] [nvarchar](100) NOT NULL,
	[HanhDong] [nvarchar](50) NOT NULL,
	[NoiDungThayDoi] [nvarchar](max) NULL,
	[ThoiDiemThayDoi] [datetime] NOT NULL,
	[NguoiThucHien] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[NhatKyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiSanTheChap]    Script Date: 12/05/2026 11:41:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiSanTheChap](
	[TaiSanID] [int] IDENTITY(1,1) NOT NULL,
	[TenTaiSan] [nvarchar](200) NOT NULL,
	[LoaiTaiSan] [nvarchar](100) NOT NULL,
	[ThuongHieu] [nvarchar](100) NULL,
	[MoTa] [nvarchar](500) NULL,
	[SoSerial] [nvarchar](100) NULL,
	[TinhTrangTaiSan] [nvarchar](200) NULL,
	[NgayNhapThongTin] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TaiSanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietTaiSanCamCo] ON 

INSERT [dbo].[ChiTietTaiSanCamCo] ([ChiTietTaiSanID], [HopDongID], [TaiSanID], [GiaTriDinhGia], [NgayNhanCam], [TrangThaiTaiSan], [IsSanSangThanhLy], [IsDaBanThanhLy], [NgayTraTaiSan], [NgayThanhLy]) VALUES (1, 1, 1, CAST(18000000.00 AS Decimal(18, 2)), CAST(N'2026-05-01' AS Date), N'DaBanThanhLy', 0, 1, NULL, CAST(N'2026-05-12' AS Date))
INSERT [dbo].[ChiTietTaiSanCamCo] ([ChiTietTaiSanID], [HopDongID], [TaiSanID], [GiaTriDinhGia], [NgayNhanCam], [TrangThaiTaiSan], [IsSanSangThanhLy], [IsDaBanThanhLy], [NgayTraTaiSan], [NgayThanhLy]) VALUES (2, 1, 1, CAST(22000000.00 AS Decimal(18, 2)), CAST(N'2026-05-01' AS Date), N'DaBanThanhLy', 0, 1, NULL, CAST(N'2026-05-12' AS Date))
SET IDENTITY_INSERT [dbo].[ChiTietTaiSanCamCo] OFF
GO
SET IDENTITY_INSERT [dbo].[GiaoDichTraNo] ON 

INSERT [dbo].[GiaoDichTraNo] ([GiaoDichID], [HopDongID], [NgayGiaoDich], [SoTienTra], [TienTraGoc], [TienTraLai], [NguoiThuTien], [NoiDungGiaoDich], [SoTienNoConLaiSauGiaoDich]) VALUES (1, 1, CAST(N'2026-05-05' AS Date), CAST(3000000.00 AS Decimal(18, 2)), CAST(3000000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'Thu ngân 1', N'Trả một phần', NULL)
INSERT [dbo].[GiaoDichTraNo] ([GiaoDichID], [HopDongID], [NgayGiaoDich], [SoTienTra], [TienTraGoc], [TienTraLai], [NguoiThuTien], [NoiDungGiaoDich], [SoTienNoConLaiSauGiaoDich]) VALUES (2, 1, CAST(N'2026-05-16' AS Date), CAST(5000000.00 AS Decimal(18, 2)), CAST(5000000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'Thu ngân 2', N'Thanh toán bởi khách hàng', CAST(13304665.17 AS Decimal(18, 2)))
INSERT [dbo].[GiaoDichTraNo] ([GiaoDichID], [HopDongID], [NgayGiaoDich], [SoTienTra], [TienTraGoc], [TienTraLai], [NguoiThuTien], [NoiDungGiaoDich], [SoTienNoConLaiSauGiaoDich]) VALUES (3, 1, CAST(N'2026-05-18' AS Date), CAST(1050465.78 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(1050465.78 AS Decimal(18, 2)), N'Thu ngân 3', N'Đóng lãi để gia hạn hợp đồng', CAST(12000000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[GiaoDichTraNo] OFF
GO
SET IDENTITY_INSERT [dbo].[HopDongCamDo] ON 

INSERT [dbo].[HopDongCamDo] ([HopDongID], [KhachHangID], [MaHopDong], [NgayCam], [SoTienVayGoc], [Deadline1], [Deadline2], [LaiSuatDonNgay], [TrangThaiHopDong], [TongTienDaTra], [GhiChu]) VALUES (1, 1, N'HD20260512112404', CAST(N'2026-05-01' AS Date), CAST(20000000.00 AS Decimal(18, 2)), CAST(N'2026-05-28' AS Date), CAST(N'2026-06-10' AS Date), CAST(0.005000 AS Decimal(18, 6)), N'DangVay', CAST(5000000.00 AS Decimal(18, 2)), N'Kích hoạt trigger kiểm tra quá hạn')
SET IDENTITY_INSERT [dbo].[HopDongCamDo] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([KhachHangID], [HoTen], [SoDienThoai], [SoCCCD], [DiaChi], [NgayTao], [TrangThaiHoatDong]) VALUES (1, N'Nguyễn Văn A', N'0901234567', N'079999999999', N'Hà Nội', CAST(N'2026-05-12T11:24:04.040' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LichSuGiaHan] ON 

INSERT [dbo].[LichSuGiaHan] ([GiaHanID], [HopDongID], [NgayGiaHan], [Deadline1Cu], [Deadline1Moi], [Deadline2Cu], [Deadline2Moi], [SoTienLaiDaDong], [NguoiXuLy], [GhiChu]) VALUES (1, 1, CAST(N'2026-05-18' AS Date), CAST(N'2026-05-10' AS Date), CAST(N'2026-05-28' AS Date), CAST(N'2026-05-20' AS Date), CAST(N'2026-06-10' AS Date), CAST(1050465.78 AS Decimal(18, 2)), N'Thu ngân 3', N'Gia hạn hợp đồng sau khi khách đóng đủ tiền lãi')
SET IDENTITY_INSERT [dbo].[LichSuGiaHan] OFF
GO
SET IDENTITY_INSERT [dbo].[NhatKyHeThong] ON 

INSERT [dbo].[NhatKyHeThong] ([NhatKyID], [TenBang], [KhoaChinhBanGhi], [HanhDong], [NoiDungThayDoi], [ThoiDiemThayDoi], [NguoiThucHien]) VALUES (1, N'HopDongCamDo', N'1', N'INSERT', N'Tạo hợp đồng mới với danh sách tài sản thế chấp', CAST(N'2026-05-12T11:24:04.423' AS DateTime), N'HệThống')
INSERT [dbo].[NhatKyHeThong] ([NhatKyID], [TenBang], [KhoaChinhBanGhi], [HanhDong], [NoiDungThayDoi], [ThoiDiemThayDoi], [NguoiThucHien]) VALUES (2, N'GiaoDichTraNo', N'1', N'INSERT', N'Khách thanh toán một phần, còn dư nợ', CAST(N'2026-05-12T11:28:32.300' AS DateTime), N'Thu ngân 2')
INSERT [dbo].[NhatKyHeThong] ([NhatKyID], [TenBang], [KhoaChinhBanGhi], [HanhDong], [NoiDungThayDoi], [ThoiDiemThayDoi], [NguoiThucHien]) VALUES (3, N'HopDongCamDo', N'1', N'UPDATE', N'Gia hạn hợp đồng và cập nhật deadline mới', CAST(N'2026-05-12T11:34:45.510' AS DateTime), N'Thu ngân 3')
SET IDENTITY_INSERT [dbo].[NhatKyHeThong] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiSanTheChap] ON 

INSERT [dbo].[TaiSanTheChap] ([TaiSanID], [TenTaiSan], [LoaiTaiSan], [ThuongHieu], [MoTa], [SoSerial], [TinhTrangTaiSan], [NgayNhapThongTin]) VALUES (1, N'iPhone 13 Pro Max', N'Điện thoại', N'Apple', N'Máy 256GB, màu xanh', N'IP13PM001', N'Đã qua sử dụng tốt', CAST(N'2026-05-12T11:24:04.407' AS DateTime))
INSERT [dbo].[TaiSanTheChap] ([TaiSanID], [TenTaiSan], [LoaiTaiSan], [ThuongHieu], [MoTa], [SoSerial], [TinhTrangTaiSan], [NgayNhapThongTin]) VALUES (2, N'Laptop XPS 13', N'Laptop', N'Dell', N'Core i7, RAM 16GB', N'DELLXPS013', N'Ngoại hình đẹp', CAST(N'2026-05-12T11:24:04.407' AS DateTime))
SET IDENTITY_INSERT [dbo].[TaiSanTheChap] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__HopDongC__36DD434331B24619]    Script Date: 12/05/2026 11:41:03 AM ******/
ALTER TABLE [dbo].[HopDongCamDo] ADD UNIQUE NONCLUSTERED 
(
	[MaHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietTaiSanCamCo] ADD  DEFAULT (getdate()) FOR [NgayNhanCam]
GO
ALTER TABLE [dbo].[ChiTietTaiSanCamCo] ADD  DEFAULT (N'DangCamCo') FOR [TrangThaiTaiSan]
GO
ALTER TABLE [dbo].[ChiTietTaiSanCamCo] ADD  DEFAULT ((0)) FOR [IsSanSangThanhLy]
GO
ALTER TABLE [dbo].[ChiTietTaiSanCamCo] ADD  DEFAULT ((0)) FOR [IsDaBanThanhLy]
GO
ALTER TABLE [dbo].[GiaoDichTraNo] ADD  DEFAULT (getdate()) FOR [NgayGiaoDich]
GO
ALTER TABLE [dbo].[GiaoDichTraNo] ADD  DEFAULT ((0)) FOR [TienTraGoc]
GO
ALTER TABLE [dbo].[GiaoDichTraNo] ADD  DEFAULT ((0)) FOR [TienTraLai]
GO
ALTER TABLE [dbo].[HopDongCamDo] ADD  DEFAULT ((0.005)) FOR [LaiSuatDonNgay]
GO
ALTER TABLE [dbo].[HopDongCamDo] ADD  DEFAULT (N'DangVay') FOR [TrangThaiHopDong]
GO
ALTER TABLE [dbo].[HopDongCamDo] ADD  DEFAULT ((0)) FOR [TongTienDaTra]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((1)) FOR [TrangThaiHoatDong]
GO
ALTER TABLE [dbo].[LichSuGiaHan] ADD  DEFAULT (getdate()) FOR [NgayGiaHan]
GO
ALTER TABLE [dbo].[NhatKyHeThong] ADD  DEFAULT (getdate()) FOR [ThoiDiemThayDoi]
GO
ALTER TABLE [dbo].[TaiSanTheChap] ADD  DEFAULT (getdate()) FOR [NgayNhapThongTin]
GO
ALTER TABLE [dbo].[ChiTietTaiSanCamCo]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietTaiSanCamCo_HopDong] FOREIGN KEY([HopDongID])
REFERENCES [dbo].[HopDongCamDo] ([HopDongID])
GO
ALTER TABLE [dbo].[ChiTietTaiSanCamCo] CHECK CONSTRAINT [FK_ChiTietTaiSanCamCo_HopDong]
GO
ALTER TABLE [dbo].[ChiTietTaiSanCamCo]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietTaiSanCamCo_TaiSan] FOREIGN KEY([TaiSanID])
REFERENCES [dbo].[TaiSanTheChap] ([TaiSanID])
GO
ALTER TABLE [dbo].[ChiTietTaiSanCamCo] CHECK CONSTRAINT [FK_ChiTietTaiSanCamCo_TaiSan]
GO
ALTER TABLE [dbo].[GiaoDichTraNo]  WITH CHECK ADD  CONSTRAINT [FK_GiaoDichTraNo_HopDong] FOREIGN KEY([HopDongID])
REFERENCES [dbo].[HopDongCamDo] ([HopDongID])
GO
ALTER TABLE [dbo].[GiaoDichTraNo] CHECK CONSTRAINT [FK_GiaoDichTraNo_HopDong]
GO
ALTER TABLE [dbo].[HopDongCamDo]  WITH CHECK ADD  CONSTRAINT [FK_HopDongCamDo_KhachHang] FOREIGN KEY([KhachHangID])
REFERENCES [dbo].[KhachHang] ([KhachHangID])
GO
ALTER TABLE [dbo].[HopDongCamDo] CHECK CONSTRAINT [FK_HopDongCamDo_KhachHang]
GO
ALTER TABLE [dbo].[LichSuGiaHan]  WITH CHECK ADD  CONSTRAINT [FK_LichSuGiaHan_HopDong] FOREIGN KEY([HopDongID])
REFERENCES [dbo].[HopDongCamDo] ([HopDongID])
GO
ALTER TABLE [dbo].[LichSuGiaHan] CHECK CONSTRAINT [FK_LichSuGiaHan_HopDong]
GO
ALTER TABLE [dbo].[ChiTietTaiSanCamCo]  WITH CHECK ADD  CONSTRAINT [CK_ChiTietTaiSanCamCo_GiaTriDinhGia] CHECK  (([GiaTriDinhGia]>(0)))
GO
ALTER TABLE [dbo].[ChiTietTaiSanCamCo] CHECK CONSTRAINT [CK_ChiTietTaiSanCamCo_GiaTriDinhGia]
GO
ALTER TABLE [dbo].[GiaoDichTraNo]  WITH CHECK ADD  CONSTRAINT [CK_GiaoDichTraNo_SoTienTra] CHECK  (([SoTienTra]>(0)))
GO
ALTER TABLE [dbo].[GiaoDichTraNo] CHECK CONSTRAINT [CK_GiaoDichTraNo_SoTienTra]
GO
ALTER TABLE [dbo].[GiaoDichTraNo]  WITH CHECK ADD  CONSTRAINT [CK_GiaoDichTraNo_TienTraGoc] CHECK  (([TienTraGoc]>=(0)))
GO
ALTER TABLE [dbo].[GiaoDichTraNo] CHECK CONSTRAINT [CK_GiaoDichTraNo_TienTraGoc]
GO
ALTER TABLE [dbo].[GiaoDichTraNo]  WITH CHECK ADD  CONSTRAINT [CK_GiaoDichTraNo_TienTraLai] CHECK  (([TienTraLai]>=(0)))
GO
ALTER TABLE [dbo].[GiaoDichTraNo] CHECK CONSTRAINT [CK_GiaoDichTraNo_TienTraLai]
GO
ALTER TABLE [dbo].[HopDongCamDo]  WITH CHECK ADD  CONSTRAINT [CK_HopDongCamDo_Deadline] CHECK  (([Deadline2]>=[Deadline1]))
GO
ALTER TABLE [dbo].[HopDongCamDo] CHECK CONSTRAINT [CK_HopDongCamDo_Deadline]
GO
ALTER TABLE [dbo].[HopDongCamDo]  WITH CHECK ADD  CONSTRAINT [CK_HopDongCamDo_SoTienVayGoc] CHECK  (([SoTienVayGoc]>(0)))
GO
ALTER TABLE [dbo].[HopDongCamDo] CHECK CONSTRAINT [CK_HopDongCamDo_SoTienVayGoc]
GO
/****** Object:  StoredProcedure [dbo].[sp_DangKyHopDongMoi]    Script Date: 12/05/2026 11:41:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_DangKyHopDongMoi]                                -- Tạo hoặc cập nhật procedure đăng ký hợp đồng
(                                                                             -- Tham số đầu vào
    @HoTen NVARCHAR(100),                                                    -- Họ tên khách hàng
    @SoDienThoai VARCHAR(15),                                                -- Số điện thoại
    @SoCCCD VARCHAR(20),                                                     -- Số CCCD
    @DiaChi NVARCHAR(255),                                                   -- Địa chỉ
    @SoTienVayGoc DECIMAL(18,2),                                             -- Số tiền vay gốc
    @NgayCam DATE,                                                           -- Ngày cầm đồ
    @Deadline1 DATE,                                                         -- Deadline 1
    @Deadline2 DATE,                                                         -- Deadline 2
    @GhiChu NVARCHAR(500),                                                   -- Ghi chú
    @DanhSachTaiSan DanhSachTaiSanType READONLY                              -- Danh sách tài sản (kiểu table, chỉ đọc)
)
AS
BEGIN
    SET NOCOUNT ON;                                                          -- Tắt thông báo số dòng bị ảnh hưởng
    BEGIN TRY                                                                -- Bắt đầu khối xử lý lỗi
        BEGIN TRANSACTION;                                                   -- Bắt đầu transaction đảm bảo tính atomic

        DECLARE @KhachHangID INT;                                            -- Biến lưu ID khách hàng sau khi thêm
        DECLARE @HopDongID INT;                                              -- Biến lưu ID hợp đồng sau khi thêm
        DECLARE @MaHopDong VARCHAR(30);                                      -- Biến lưu mã hợp đồng

        -- Kiểm tra dữ liệu đầu vào
        IF @SoTienVayGoc <= 0                                                -- Nếu số tiền vay <= 0
        BEGIN                                                                -- Bắt đầu khối lệnh
            RAISERROR(N'SoTienVayGoc phai lon hon 0', 16, 1);                -- Ném lỗi với thông báo tiếng Việt
            ROLLBACK TRANSACTION;                                            -- Rollback transaction
            RETURN;                                                           -- Thoát procedure
        END                                                                  -- Kết thúc khối IF

        IF @Deadline2 < @Deadline1                                           -- Nếu deadline2 < deadline1
        BEGIN                                                                -- Bắt đầu khối lệnh
            RAISERROR(N'Deadline2 phai lon hon hoac bang Deadline1', 16, 1); -- Ném lỗi
            ROLLBACK TRANSACTION;                                            -- Rollback
            RETURN;                                                           -- Thoát
        END                                                                  -- Kết thúc khối IF

        -- Thêm khách hàng mới
        INSERT INTO KhachHang(HoTen, SoDienThoai, SoCCCD, DiaChi)            -- Thêm bản ghi vào KhachHang
        VALUES(@HoTen, @SoDienThoai, @SoCCCD, @DiaChi);                     -- Giá trị từ tham số

        SET @KhachHangID = SCOPE_IDENTITY();                                -- Lấy ID vừa sinh của khách hàng

        -- Sinh mã hợp đồng tự động
        SET @MaHopDong = 'HD' + FORMAT(GETDATE(), 'yyyyMMddHHmmss');         -- Tạo mã HD + timestamp

        -- Thêm hợp đồng mới
        INSERT INTO HopDongCamDo                                             -- Thêm vào bảng HopDongCamDo
        (
            KhachHangID, MaHopDong, NgayCam, SoTienVayGoc,
            Deadline1, Deadline2, LaiSuatDonNgay, TrangThaiHopDong, GhiChu
        )
        VALUES
        (
            @KhachHangID, @MaHopDong, @NgayCam, @SoTienVayGoc,
            @Deadline1, @Deadline2, 0.005, N'DangVay', @GhiChu               -- LaiSuatDonNgay = 0.005 = 0.5%/ngày
        );

        SET @HopDongID = SCOPE_IDENTITY();                                  -- Lấy ID hợp đồng vừa tạo

        -- Thêm tài sản và chi tiết cầm cố
        -- Dùng INSERT...SELECT trực tiếp thay vì vòng lặp
        INSERT INTO TaiSanTheChap                                            -- Thêm tài sản vào bảng TaiSanTheChap
        (
            TenTaiSan, LoaiTaiSan, ThuongHieu, MoTa, SoSerial, TinhTrangTaiSan
        )
        SELECT                                                              -- Chọn từ danh sách truyền vào
            TenTaiSan, LoaiTaiSan, ThuongHieu, MoTa, SoSerial, TinhTrangTaiSan
        FROM @DanhSachTaiSan;                                               -- Từ table type

        -- Lấy ID các tài sản vừa thêm (có thể dùng OUTPUT clause)
        DECLARE @TaiSanIDs TABLE (TaiSanID INT, RowNum INT);                -- Bảng tạm lưu ID tài sản

        INSERT INTO @TaiSanIDs
        SELECT TaiSanID, ROW_NUMBER() OVER (ORDER BY TaiSanID)              -- Lấy ID với số thứ tự
        FROM TaiSanTheChap
        WHERE TaiSanID >= (SELECT MIN(TaiSanID) FROM TaiSanTheChap)        -- ID mới nhất
          AND TaiSanID < (SELECT MIN(TaiSanID) FROM TaiSanTheChap) + (SELECT COUNT(*) FROM @DanhSachTaiSan);

        INSERT INTO ChiTietTaiSanCamCo                                       -- Thêm vào bảng chi tiết
        (
            HopDongID, TaiSanID, GiaTriDinhGia, NgayNhanCam, TrangThaiTaiSan
        )
        SELECT
            @HopDongID,                                                      -- HopDongID hiện tại
            t.TaiSanID,                                                      -- TaiSanID từ bảng tạm
            d.GiaTriDinhGia,                                                 -- Giá trị định giá từ danh sách
            @NgayCam,                                                        -- Ngày nhận cam
            N'DangCamCo'                                                     -- Trạng thái ban đầu
        FROM @TaiSanIDs t
        INNER JOIN @DanhSachTaiSan d ON t.RowNum = (                              -- Kết nối theo thứ tự
            SELECT ROW_NUMBER() OVER (ORDER BY (SELECT NULL))
            FROM @DanhSachTaiSan d2
            WHERE d2.TenTaiSan = (SELECT TenTaiSan FROM TaiSanTheChap WHERE TaiSanID = t.TaiSanID)
        );

        -- Ghi log hệ thống
        INSERT INTO NhatKyHeThong
        (
            TenBang, KhoaChinhBanGhi, HanhDong, NoiDungThayDoi, NguoiThucHien
        )
        VALUES
        (
            N'HopDongCamDo',                                                -- Tên bảng bị thay đổi
            CAST(@HopDongID AS NVARCHAR(100)),                              -- Khóa chính
            N'INSERT',                                                      -- Hành động thêm mới
            N'Tạo hợp đồng mới với danh sách tài sản thế chấp',             -- Nội dung
            N'HệThống'                                                      -- Người thực hiện
        );

        COMMIT TRANSACTION;                                                  -- Xác nhận transaction

        SELECT                                                              -- Trả kết quả cho người gọi
            @KhachHangID AS KhachHangID,
            @HopDongID AS HopDongID,
            @MaHopDong AS MaHopDong,
            N'Đăng ký hợp đồng thành công' AS ThongBao;
    END TRY                                                                -- Kết thúc khối thử
    BEGIN CATCH                                                            -- Bắt đầu khối bắt lỗi
        ROLLBACK TRANSACTION;                                              -- Rollback nếu có lỗi
        THROW;                                                             -- Ném lỗi tiếp tục
    END CATCH                                                              -- Kết thúc khối catch
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GiaHanHopDong]    Script Date: 12/05/2026 11:41:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GiaHanHopDong]                               -- Tạo procedure gia hạn hợp đồng
(                                                                         -- Tham số
    @HopDongID INT,                                                      -- ID hợp đồng cần gia hạn
    @NgayGiaHan DATE,                                                    -- Ngày diễn ra gia hạn
    @Deadline1Moi DATE,                                                  -- Deadline1 mới
    @Deadline2Moi DATE,                                                  -- Deadline2 mới
    @NguoiXuLy NVARCHAR(100)                                             -- Người xử lý
)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Khai báo biến
        DECLARE @Deadline1Cu DATE;

        DECLARE @Deadline2Cu DATE;                                        -- Lưu Deadline2 cũ
        DECLARE @TongNoHienTai DECIMAL(18,2);                             -- Tổng nợ hiện tại
        DECLARE @TongGocDaTra DECIMAL(18,2);                              -- Tổng số tiền gốc đã trả
        DECLARE @SoTienVayGoc DECIMAL(18,2);                              -- Số tiền vay gốc ban đầu
        DECLARE @GocConLai DECIMAL(18,2);                                 -- Số tiền gốc còn lại
        DECLARE @TienLaiCanDong DECIMAL(18,2);                            -- Số tiền lãi cần đóng để gia hạn

        -- Lấy deadline cũ và số tiền vay gốc
        SELECT
            @Deadline1Cu = Deadline1,
            @Deadline2Cu = Deadline2,
            @SoTienVayGoc = SoTienVayGoc
        FROM HopDongCamDo
        WHERE HopDongID = @HopDongID;

        -- Tính tổng tiền gốc đã trả đến ngày gia hạn
        SELECT @TongGocDaTra = ISNULL(SUM(TienTraGoc), 0)
        FROM GiaoDichTraNo
        WHERE HopDongID = @HopDongID
          AND NgayGiaoDich <= @NgayGiaHan;

        -- Tính số gốc còn lại
        SET @GocConLai = @SoTienVayGoc - @TongGocDaTra;
        IF @GocConLai < 0 SET @GocConLai = 0;

        -- Tính tổng nợ hiện tại
        SET @TongNoHienTai = dbo.fn_CalcMoneyContract(@HopDongID, @NgayGiaHan);

        -- Tiền lãi cần đóng = tổng nợ - gốc còn lại
        SET @TienLaiCanDong = @TongNoHienTai - @GocConLai;
        IF @TienLaiCanDong < 0 SET @TienLaiCanDong = 0;

        -- Ghi giao dịch đóng lãi để gia hạn
        INSERT INTO GiaoDichTraNo
        (
            HopDongID, NgayGiaoDich, SoTienTra, TienTraGoc, TienTraLai,
            NguoiThuTien, NoiDungGiaoDich, SoTienNoConLaiSauGiaoDich
        )
        VALUES
        (
            @HopDongID,
            @NgayGiaHan,
            @TienLaiCanDong,
            0,
            @TienLaiCanDong,
            @NguoiXuLy,
            N'Đóng lãi để gia hạn hợp đồng',
            @GocConLai
        );

        -- Lưu lịch sử gia hạn
        INSERT INTO LichSuGiaHan
        (
            HopDongID, NgayGiaHan, Deadline1Cu, Deadline1Moi,
            Deadline2Cu, Deadline2Moi, SoTienLaiDaDong, NguoiXuLy, GhiChu
        )
        VALUES
        (
            @HopDongID,
            @NgayGiaHan,
            @Deadline1Cu,
            @Deadline1Moi,
            @Deadline2Cu,
            @Deadline2Moi,
            @TienLaiCanDong,
            @NguoiXuLy,
            N'Gia hạn hợp đồng sau khi khách đóng đủ tiền lãi'
        );

        -- Cập nhật hợp đồng với deadline mới và đưa trạng thái về Đang vay
        UPDATE HopDongCamDo
        SET
            Deadline1 = @Deadline1Moi,
            Deadline2 = @Deadline2Moi,
            TrangThaiHopDong = N'DangVay'
        WHERE HopDongID = @HopDongID;

        -- Ghi log hệ thống
        INSERT INTO NhatKyHeThong
        (
            TenBang, KhoaChinhBanGhi, HanhDong, NoiDungThayDoi, NguoiThucHien
        )
        VALUES
        (
            N'HopDongCamDo',
            CAST(@HopDongID AS NVARCHAR(100)),
            N'UPDATE',
            N'Gia hạn hợp đồng và cập nhật deadline mới',
            @NguoiXuLy
        );

        -- Trả kết quả
        SELECT
            @HopDongID AS HopDongID,
            @TienLaiCanDong AS SoTienLaiCanDong,
            @Deadline1Moi AS Deadline1Moi,
            @Deadline2Moi AS Deadline2Moi,
            N'Gia hạn hợp đồng thành công' AS ThongBao;

        COMMIT TRANSACTION;                                                -- Xác nhận transaction
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;                                              -- Hoàn tác nếu lỗi
        THROW;                                                             -- Ném lỗi ra ngoài
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_XuLyTraNo]    Script Date: 12/05/2026 11:41:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_XuLyTraNo]                                     -- Tạo procedure xử lý trả nợ
(                                                                           -- Tham số đầu vào
    @HopDongID INT,                                                        -- ID hợp đồng cần trả nợ
    @SoTienKhachTra DECIMAL(18,2),                                         -- Số tiền khách trả
    @NgayTra DATE,                                                         -- Ngày trả
    @NguoiThuTien NVARCHAR(100)                                            -- Người thu tiền
)
AS
BEGIN
    SET NOCOUNT ON;                                                        -- Tắt thông báo số dòng
    BEGIN TRY                                                              -- Bắt đầu xử lý với try-catch
        BEGIN TRANSACTION;                                                 -- Bắt đầu transaction đảm bảo atomic

        -- Khai báo biến
        DECLARE @TongNoHienTai DECIMAL(18,2);                             -- Tổng nợ hiện tại
        DECLARE @DuNoConLai DECIMAL(18,2);                                -- Dư nợ còn lại sau khi trả
        DECLARE @TongTienDaTra DECIMAL(18,2);                             -- Tổng tiền đã trả trước đó
        DECLARE @SoTienVayGoc DECIMAL(18,2);                              -- Số tiền vay gốc

        -- Kiểm tra số tiền hợp lệ
        IF @SoTienKhachTra <= 0                                            -- Nếu số tiền <= 0
        BEGIN                                                              -- Bắt đầu khối lỗi
            RAISERROR(N'Số tiền khách trả phải lớn hơn 0', 16, 1);         -- Ném lỗi
            ROLLBACK TRANSACTION;                                          -- Rollback
            RETURN;                                                         -- Thoát
        END                                                                -- Kết thúc kiểm tra

        -- Kiểm tra tài sản đã thanh lý chưa
        IF EXISTS                                                          -- Nếu tồn tại
        (
            SELECT 1
            FROM ChiTietTaiSanCamCo
            WHERE HopDongID = @HopDongID
              AND IsDaBanThanhLy = 1                                       -- Tài sản đã bán thanh lý
        )
        BEGIN                                                              -- Bắt đầu khối lỗi
            RAISERROR(N'Tài sản đã bị thanh lý, không thu tiền và không trả đồ', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Tính tổng nợ hiện tại đến ngày trả
        SET @TongNoHienTai = dbo.fn_CalcMoneyContract(@HopDongID, @NgayTra);

        -- Tính dư nợ còn lại
        SET @DuNoConLai = @TongNoHienTai - @SoTienKhachTra;
        IF @DuNoConLai < 0 SET @DuNoConLai = 0;

        -- Lấy số tiền vay gốc để phân bổ trả gốc/lãi
        SELECT @SoTienVayGoc = SoTienVayGoc
        FROM HopDongCamDo
        WHERE HopDongID = @HopDongID;

        -- Thêm giao dịch trả nợ
        INSERT INTO GiaoDichTraNo
        (
            HopDongID, NgayGiaoDich, SoTienTra, TienTraGoc, TienTraLai,
            NguoiThuTien, NoiDungGiaoDich, SoTienNoConLaiSauGiaoDich
        )
        VALUES
        (
            @HopDongID,
            @NgayTra,
            @SoTienKhachTra,
            CASE
                WHEN @SoTienKhachTra <= @SoTienVayGoc THEN @SoTienKhachTra     -- Trả gốc hết số tiền
                ELSE @SoTienVayGoc                                            -- Chỉ trả phần gốc còn lại
            END,
            CASE
                WHEN @SoTienKhachTra > @SoTienVayGoc THEN @SoTienKhachTra - @SoTienVayGoc  -- Trả lãi phần chênh lệch
                ELSE 0                                                         -- Không trả lãi
            END,
            @NguoiThuTien,
            N'Thanh toán bởi khách hàng',
            @DuNoConLai
        );

        -- Cập nhật tổng tiền đã trả trên hợp đồng
        UPDATE HopDongCamDo
        SET TongTienDaTra = ISNULL(TongTienDaTra, 0) + @SoTienKhachTra
        WHERE HopDongID = @HopDongID;

        -- Kiểm tra nếu đã trả hết nợ
        IF @DuNoConLai = 0
        BEGIN                                                              -- Trả hết nợ
            -- Cập nhật trạng thái hợp đồng
            UPDATE HopDongCamDo
            SET TrangThaiHopDong = N'DaThanhToan'
            WHERE HopDongID = @HopDongID;

            -- Trả lại tất cả tài sản
            UPDATE ChiTietTaiSanCamCo
            SET TrangThaiTaiSan = N'DaTraKhach',
                NgayTraTaiSan = @NgayTra
            WHERE HopDongID = @HopDongID
              AND IsDaBanThanhLy = 0;

            -- Ghi log hệ thống
            INSERT INTO NhatKyHeThong
            (
                TenBang, KhoaChinhBanGhi, HanhDong, NoiDungThayDoi, NguoiThucHien
            )
            VALUES
            (
                N'HopDongCamDo',
                CAST(@HopDongID AS NVARCHAR(100)),
                N'UPDATE',
                N'Khách đã thanh toán đủ nợ, trả hết tài sản',
                @NguoiThuTien
            );

            -- Trả kết quả thành công
            SELECT
                N'Khách đã thanh toán đủ nợ, trả hết tài sản' AS ThongBao,
                @TongNoHienTai AS TongNoHienTai,
                @SoTienKhachTra AS SoTienKhachTra,
                @DuNoConLai AS DuNoConLai;
        END
        ELSE                                                                -- Chưa trả hết
        BEGIN                                                              -- Xử lý trả một phần
            -- Cập nhật trạng thái hợp đồng
            UPDATE HopDongCamDo
            SET TrangThaiHopDong = N'DangTraGop'
            WHERE HopDongID = @HopDongID;

            -- Ghi log
            INSERT INTO NhatKyHeThong
            (
                TenBang, KhoaChinhBanGhi, HanhDong, NoiDungThayDoi, NguoiThucHien
            )
            VALUES
            (
                N'GiaoDichTraNo',
                CAST(@HopDongID AS NVARCHAR(100)),
                N'INSERT',
                N'Khách thanh toán một phần, còn dư nợ',
                @NguoiThuTien
            );

            -- Trả kết quả và đề xuất tài sản có thể trả
            SELECT
                N'Khách thanh toán một phần, dưới đây là tài sản có thể gợi ý trả' AS ThongBao,
                @TongNoHienTai AS TongNoHienTai,
                @SoTienKhachTra AS SoTienKhachTra,
                @DuNoConLai AS DuNoConLai;

            -- Tính và đề xuất tài sản có thể trả
            -- Điều kiện: Giá trị tài sản còn lại >= Dư nợ còn lại
            ;WITH TaiSanDangGiu AS                                           -- CTE lấy tài sản đang giữ
            (
                SELECT
                    c.ChiTietTaiSanID,
                    t.TenTaiSan,
                    c.GiaTriDinhGia
                FROM ChiTietTaiSanCamCo c
                INNER JOIN TaiSanTheChap t ON c.TaiSanID = t.TaiSanID
                WHERE c.HopDongID = @HopDongID
                  AND c.TrangThaiTaiSan = N'DangCamCo'
                  AND c.IsDaBanThanhLy = 0
            ),
            TongGiaTri AS                                                   -- CTE tính tổng giá trị tài sản đang giữ
            (
                SELECT SUM(GiaTriDinhGia) AS TongGiaTri
                FROM TaiSanDangGiu
            )
            SELECT
                ts.ChiTietTaiSanID,
                ts.TenTaiSan,
                ts.GiaTriDinhGia,
                (tg.TongGiaTri - ts.GiaTriDinhGia) AS GiaTriTaiSanConLaiNeuTraTaiSanNay,
                @DuNoConLai AS DuNoConLai
            FROM TaiSanDangGiu ts
            CROSS JOIN TongGiaTri tg
            WHERE (tg.TongGiaTri - ts.GiaTriDinhGia) >= @DuNoConLai;        -- Chỉ đề xuất nếu còn đủ bảo đảm
        END

        COMMIT TRANSACTION;                                                 -- Xác nhận transaction
    END TRY                                                                -- Kết thúc try
    BEGIN CATCH                                                            -- Bắt lỗi
        ROLLBACK TRANSACTION;                                              -- Rollback
        THROW;                                                             -- Ném lỗi tiếp
    END CATCH                                                              -- Kết thúc catch
END;

GO
/****** Object:  Trigger [dbo].[trg_LogGiaoDichTraNo]    Script Date: 12/05/2026 11:41:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trg_LogGiaoDichTraNo]                              -- Tạo trigger log khi có giao dịch trả nợ
ON [dbo].[GiaoDichTraNo]                                                          -- Gắn trigger trên bảng GiaoDichTraNo
AFTER INSERT                                                              -- Chạy sau khi INSERT
AS
BEGIN
    SET NOCOUNT ON;                                                       -- Tắt thông báo số dòng

    -- Ghi log cho từng giao dịch vừa thêm
    INSERT INTO NhatKyHeThong
    (
        TenBang, KhoaChinhBanGhi, HanhDong, NoiDungThayDoi, NguoiThucHien
    )
    SELECT
        N'GiaoDichTraNo',                                                 -- Tên bảng phát sinh thay đổi
        CAST(i.GiaoDichID AS NVARCHAR(100)),                              -- Khóa chính của giao dịch
        N'INSERT',                                                        -- Hành động là thêm mới
        N'Thêm giao dịch trả nợ. SoTienTra = ' 
            + CAST(i.SoTienTra AS NVARCHAR(50))
            + N', SoTienNoConLai = '
            + ISNULL(CAST(i.SoTienNoConLaiSauGiaoDich AS NVARCHAR(50)), N'NULL'),
        i.NguoiThuTien                                                    -- Người thu tiền cũng là người thực hiện
    FROM inserted i;                                                      -- Lấy dữ liệu vừa được thêm
END;

GO
ALTER TABLE [dbo].[GiaoDichTraNo] ENABLE TRIGGER [trg_LogGiaoDichTraNo]
GO
/****** Object:  Trigger [dbo].[trg_CapNhatHopDongQuaHan]    Script Date: 12/05/2026 11:41:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trg_CapNhatHopDongQuaHan]                           -- Tạo trigger cập nhật hợp đồng quá hạn
ON [dbo].[HopDongCamDo]                                                           -- Kích hoạt trên bảng HopDongCamDo
AFTER INSERT, UPDATE                                                     -- Sau khi INSERT hoặc UPDATE
AS
BEGIN
    SET NOCOUNT ON;                                                      -- Tắt thông báo

    -- Cập nhật trạng thái hợp đồng thành Quá hạn nếu:
    -- - Trạng thái hiện tại là Đang vay
    -- - Ngày hiện tại > Deadline1
    UPDATE hd
    SET TrangThaiHopDong = N'QuaHan'
    FROM HopDongCamDo hd
    INNER JOIN inserted i ON hd.HopDongID = i.HopDongID                 -- Lấy bản ghi mới
    WHERE hd.TrangThaiHopDong = N'DangVay'
      AND CAST(GETDATE() AS DATE) > hd.Deadline1;
END;

GO
ALTER TABLE [dbo].[HopDongCamDo] ENABLE TRIGGER [trg_CapNhatHopDongQuaHan]
GO
/****** Object:  Trigger [dbo].[trg_CapNhatTaiSanDaBanThanhLy]    Script Date: 12/05/2026 11:41:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trg_CapNhatTaiSanDaBanThanhLy]                    -- Tạo trigger tài sản đã bán thanh lý
ON [dbo].[HopDongCamDo]                                                           -- Kích hoạt trên bảng HopDongCamDo
AFTER UPDATE                                                             -- Chỉ sau khi UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Khi hợp đồng chuyển sang DaThanhLy, cập nhật tài sản thành DaBanThanhLy
    UPDATE ct
    SET
        ct.TrangThaiTaiSan = N'DaBanThanhLy',
        ct.IsDaBanThanhLy = 1,
        ct.NgayThanhLy = CAST(GETDATE() AS DATE)
    FROM ChiTietTaiSanCamCo ct
    INNER JOIN inserted i ON ct.HopDongID = i.HopDongID                   -- Bản ghi mới
    INNER JOIN deleted d ON d.HopDongID = i.HopDongID                     -- Bản ghi cũ
    WHERE i.TrangThaiHopDong = N'DaThanhLy'                               -- Trạng thái mới = Đã thanh lý
      AND d.TrangThaiHopDong <> N'DaThanhLy';                            -- Trạng thái cũ khác
END;

GO
ALTER TABLE [dbo].[HopDongCamDo] ENABLE TRIGGER [trg_CapNhatTaiSanDaBanThanhLy]
GO
/****** Object:  Trigger [dbo].[trg_CapNhatTaiSanSanSangThanhLy]    Script Date: 12/05/2026 11:41:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trg_CapNhatTaiSanSanSangThanhLy]                   -- Tạo trigger tài sản sẵn sàng thanh lý
ON [dbo].[HopDongCamDo]                                                           -- Kích hoạt trên bảng HopDongCamDo
AFTER INSERT, UPDATE                                                     -- Sau khi INSERT/UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Cập nhật tài sản thành SanSangThanhLy nếu:
    -- - Hợp đồng ở trạng thái Quá hạn
    -- - Ngày hiện tại > Deadline2
    -- - Tài sản chưa bị bán
    UPDATE ct
    SET
        ct.TrangThaiTaiSan = N'SanSangThanhLy',
        ct.IsSanSangThanhLy = 1
    FROM ChiTietTaiSanCamCo ct
    INNER JOIN inserted i ON ct.HopDongID = i.HopDongID
    INNER JOIN HopDongCamDo hd ON hd.HopDongID = i.HopDongID
    WHERE hd.TrangThaiHopDong = N'QuaHan'
      AND CAST(GETDATE() AS DATE) > hd.Deadline2
      AND ct.IsDaBanThanhLy = 0
      AND ct.TrangThaiTaiSan = N'DangCamCo';
END;

GO
ALTER TABLE [dbo].[HopDongCamDo] ENABLE TRIGGER [trg_CapNhatTaiSanSanSangThanhLy]
GO
USE [master]
GO
